<!-- HEADER -->
<header class="container-fluid p-0 mb-5">
    <!-- Background image -->
    <div
    id="hb"
      class="p-5 text-center bg-image d-none d-xxl-block"
      style="
        background-image: url('static/img/EMPRE.png');
        height: 400px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
      "
    >
    
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-dark">
            
            
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
    </header>