{% extends "base.html" %}

{% block title %}EmpreGO! -  {% if feedback %}Pronto!!{% else %}Falhou!{% endif %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cadastrar Nova Vaga</h1>

            {% if feedback %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-success" role="alert">
                    <p>curriculo enviado com sucesso!!</p>
                    <a href="/">Voltar para página inicial</a>
                </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                <p>Falha ao enviar, tente mais tarde!</p>
                <a href="/">Voltar para página inicial</a>
            </div>

            {% endif %}

            
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

{% endblock %}